* {
  font-family:
    "Mochiy Pop One",
    sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

p {
  margin: 5px;
}

i {
  margin-left: 5px;
  margin-right: 5px;
}

a {
  font-size: 24px;
}

.navbar {
  background-color: #ffb302;
}

.btn-primary,
.btn-primary:hover,
.bg-blue {
  background-color: #000080;
}

.abbr {
  text-decoration: none;
}

.text-gold,
.text-gold:hover,
.abbr,
.abbr:hover {
  color: #ffb302;
}

.side-margin {
  margin-left: 5px;
  margin-right: 5px;
  min-width: 100%;
}

.mw100 {
  min-width: 100%;
}

.align-center {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.flex {
  display: flex;
}

.ptb20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
